.card {
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 1.5rem;

  & h3 {
    margin-top: 1rem;
  }
  @media (width: 48rem) {
    & h3 {
      margin-top: calc(1rem / 0.5);
    }
  }
}