#hero {
  text-align: center;
  & img[src*="music"] {
    width: 12.875rem;
  }
  & h1 {
    margin-top: 1rem;
  }
  p {
    font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
    color: var(--text-color-secondary);
    margin-top: .5rem;
  }
  .buttons {
    justify-content: center;
    margin-top: 2rem;
  }
}

@media (width >= 80em) {
  #hero {
    background: url(../assets/icons/desktop-bg-hero.svg) no-repeat bottom center;
    padding-bottom: 15rem;
    & img[src*="music"] {
      width: 20.875rem;
    }
    & h1 {
      margin-top: 1.5rem;
    }
    p {
      margin-top: 1rem;
    }
    .buttons {
      justify-content: center;
      margin-top: 3rem;
    }
  }
}
@media (min-width: 376px) and (max-width: 490px) {
  #hero {
    text-align: center;
    & img[src*="music"] {
      width: calc(12.875rem / 0.76);
    }
    & h1 {
      margin-top: calc(1rem / 0.76);
    }
    p {
      font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
      color: var(--text-color-secondary);
      margin-top: calc(.5rem / 0.76);
    }
    .buttons {
      justify-content: center;
      margin-top: calc(2rem / 0.76);
    }
  }
}
@media (min-width: 490px) and (max-width: 48rem) {
  #hero {
    text-align: center;
    & img[src*="music"] {
      width: calc(12.875rem / 0.5);
    }
    & h1 {
      margin-top: calc(1rem / 0.5);
    }
    p {
      font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
      color: var(--text-color-secondary);
      margin-top: calcalc(.5rem / 0.5);
    }
    .buttons {
      justify-content: center;
      margin-top: calc(2rem / 0.5);
    }
  }
}